@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    /* border:1px solid red; */
}
body{
        background-color: #e7e7e7;
    font-family: var(--font-secondary);
            color:var(--color-text-secondary);
            overflow-x: hidden;

}


:root {

  --font-primary: "Josefin Sans", sans-serif;
  --font-secondary: "Inter", sans-serif;

  --color-text-primary: #1E1E1E;
  --color-text-secondary: #757575;
  
  --color-light: #D2D2D2;
  --color-sky: #76B9F0;
  --color-blue: #31A2FF;
  --color-dark: #1E0D87;
  --color-black: #000000;
  --color-white:#fff;

  --font-size-label: 14px;
  --font-size-body: 16px;


  --font-size-heading-sm: 20px;
  --font-size-heading-md: 28px;
  --font-size-heading-lg: 36px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

}

.font-primary{
    font-family: var(--font-primary);
}

.font-secondary{
    font-family: var(--font-secondary);
}

.rounded-pill{
    border-radius: 40px;
    background-color: #ededf4;
    padding:4px 12px;
    font-size: 10px !important;
}



